body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 50px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

main {
    padding: 20px;
}

.subjects-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.subject-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.subject-buttons button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.subject-buttons button:hover {
    background-color: #2980b9;
}

.question-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.question-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

#result-message {
    font-size: 18px;
    margin-top: 20px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}